@model sahilNameSorterWeb.Models.HomeViewModel
@using sahilNameSorterWeb.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> @Model.WelcomeMessage </h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => @Model.WelcomeMessage);
    <table cellpadding="0" cellspacing="0">
        <tr>
            <p>Start Name Sorter on server</p>
        </tr>
        
            <label for="file">Upload Input File:</label>

            <input type="file" name="file" id="file" />
        
            <table>

                @Html.RadioButtonFor(Model => Model.Sort, SortType.firstname)@Html.Label("First Name")
                @Html.RadioButtonFor(Model => Model.Sort, SortType.lastname)@Html.Label("Last Name")
            </table>
            <table>
                @Html.RadioButtonFor(Model => Model.Order, OrderType.ascending) @Html.Label("Ascending")
                @Html.RadioButtonFor(Model => Model.Order, OrderType.descending) @Html.Label("Descending")
            </table>
       
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>

        <table cellpadding="0" cellspacing="0">
            <tr>
                <p>Results</p>
            </tr>


            @foreach (var line in @Model.output)
            {
                <p>
                    @line
                </p>


            }

        </table>

    }
</body>
</html>